{{! Post page; this file renders a single post and loads all the content}}
{{> head}}
{{> navbar}}
<main>

   {{! injects code via a Custom HTML tool - as defined in the config.json file in the "renderer" section }}
   {{#if @customHTML.beforePost}}
      <div id="custom-html-before-post">
         {{{@customHTML.beforePost}}}
      </div>
   {{/if}}
   {{! /injects code via a Custom HTML tool }}

   {{! indicates the post's context}}
   {{#post}}
      <article>
         <header>

            {{! post title }}
            <h1>
               {{title}}
            </h1>
            {{! /post title }}

            <div class="author-info">
               {{! post author }}
               {{ translate 'post.publishedBy' }}
               {{#author}}
                  <a href="{{url}}" rel="author" title="{{name}}">{{name}}</a>
               {{/author}}
               {{! /post author }}
            </div>

            <div class="post-tags">
               {{! check if the post has any tags }}
               {{#if tags}}
                  {{! loop through all tags }}
                  {{#each tags}}
                     <a href="{{url}}" class="post__tag">
                        {{name}}
                     </a>
                  {{/each}}
               {{/if}}
            </div>

            {{! post creation date }}
            {{!-- <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}"> --}}
            <time datetime="{{date createdAt 'YYYY'}}">
               {{date createdAt "YYYY/MM/DD"}}
            </time>
            {{! /post creation date }}

            {{! post modification date }}
            {{#if modifiedAt}}
               <small>
                  {{ translate 'post.lastUpdatedDate' }}
                  <time datetime="{{date modifiedAt 'YYYY-MM-DDTHH:mm'}}">
                     {{date modifiedAt "YYYY/MM/DD"}}
                  </time>   
               </small>
            {{/if}}
            {{! /post modification date }}

         </header>

         {{! featured image }}
         {{#featuredImage}}
            {{! check if an image exists }}
            {{#if url}}
               <figure id="featured-image">
                  <img
                     src="{{url}}"
                     {{! checks if the Responsive Images option (located in Site Settings -> Website Speed) is enabled  }}
                     {{#if @config.site.responsiveImages}}
                        {{responsiveImageAttributes 'featuredImage' srcset sizes}}
                     {{/if}}
                     {{! generates a native loading attribute; if the Media Lazy Load option (located in Site Settings -> Website Speed) is disabled, the loading attribute is not generated }}
                     {{ lazyload "eager" }}
                     height="{{height}}"
                     width="{{width}}"
                     alt="{{alt}}">
                  {{! checks if the caption or credits exist }}
                  {{#checkIfAny caption credits}}
                     <figcaption>
                        {{caption}}
                        {{credits}}
                     </figcaption>
                  {{/checkIfAny}}
                  {{! /checks if the caption or credits exist }}
               </figure>
            {{/if}}
            {{! /check if an image exists }}
         {{/featuredImage}}
         {{! /featured image }}

         {{! post body }}
         <div id="post-entry">
            {{{text}}}
         </div>
         {{! /post body }}

         {{! previous & next post }}
         {{! checks if there are any posts besides the current one; including ../ segment on a path, we change the post context into the parent context }}
         {{#checkIfAny ../previousPost ../nextPost}}
            <nav id="post-navigation">
               <div class="nav-prev">
                  {{#../previousPost}}
                     <a href="{{url}}" rel="prev">
                        &larr; {{ translate 'post.previousPost' }}
                     </a>
                  {{/../previousPost}}
               </div>
               <div class="nav-next">
                  {{#../nextPost}}
                     <a href="{{url}}" rel="next">
                        {{ translate 'post.nextPost' }} &rarr;
                     </a>
                  {{/../nextPost}}
               </div>
            </nav>
         {{/checkIfAny}}
         {{! /checks if there are any posts besides the current one }}
         {{! /previous & next post }}

      </article>
   {{/post}}
   {{! /indicates the post's context}}

   {{! code injection by a Custom HTML tool - defined in config.json file in the renderer section}}
   {{#if @customHTML.afterPost}}
      <div id="custom-html-after-post">
         {{{@customHTML.afterPost}}}
      </div>
   {{/if}}
   {{! injects code via a Custom HTML tool }}

</main>

{{> footer}}
