{{! Tag page; this file renders a tag page containing a list of the latest posts }}
{{> head}}
{{> navbar}}
<main>
   
   {{! indicates the tag's context}}
      {{#tag}}

         <h1>
            {{name}}
            {{! check if a 'Display post counter' tag option is enabled }}
            {{#if tagViewConfig.displayPostCounter}}
               <sup>({{postsNumber}})</sup>
            {{/if}}
            {{! /check if a 'Display post counter' tag option is enabled }} 
         </h1>

         {{! check if a tag description exists }}
         {{#if description}}
            <div> {{{description}}} </div>
         {{/if}}
         {{! /check if a tag description exists }}  

      {{/tag}}
   {{! /indicates the tag's context }}

   {{! loop that generates a list of posts }}
   {{#each posts}}
      <article>

         {{! post title }}
         <h2>
            <a href="{{url}}">{{title}}</a>
         </h2>
         {{! /post title }}

         {{! post creation date }}
         <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
            {{date createdAt "YYYY/MM/DD"}}
         </time>
         {{! /post creation date }}

         {{! post author }}
         {{#author}}
            <a href="{{url}}">{{name}}</a>
         {{/author}}
         {{! /post author }}
         
         {{! post excerpt - the Custom excerpt is generated when the Read More button is used when editing a post }}
         {{#if hasCustomExcerpt}}
            {{{ excerpt }}}
         {{else}}
            <p>{{{ excerpt }}}</p>
         {{/if}}
         {{! /post excerpt }}

      </article>
   {{/each}}
   {{! /loop that generates a list of posts }}

   {{> pagination}}
   
</main>

{{> footer}}